{{#*inline "title"}}
  Feed - Team
{{/inline}}
{{#*inline "page"}}
  <h2 class="page-title">Setup</h2>
 <b>Hoffentlich erfolgreich... <a href="/">Hier geht es wieder zu meiner Startseite von meiner Homepage</a></b>
{{/inline}}
{{~> layout ~}}