{{#*inline "title"}}
  Feed - Team
{{/inline}}
{{#*inline "page"}}
  <h2 class="page-title">Feed</h2>
  <ul class="post-items">
    <h4>App hinzufügen</h4>
    App wurde hoffentlich erfolgreich hochgeladen!!!
    <b>TODO:</b> Fehlerausgabe
</form> 
  </ul>
{{/inline}}
{{~> layout ~}}